# LIST

In [4]:
l1= ['Apple','Banana','Orange','Grapes','Mango']
print(l1)

['Apple', 'Banana', 'Orange', 'Grapes', 'Mango']

In [5]:
l2= ['s1', 's2', 's3', [], 6+5, 8-4,86/34, 3*4]
print(l2)

['s1', 's2', 's3', [], 11, 4, 2.5294117647058822, 12]

In [6]:
l3=['BMW','Ferrari', 'MG Hector','Skoda', 'Maruti', 'Punch-ev']
print(l3)

['BMW', 'Ferrari', 'MG Hector', 'Skoda', 'Maruti', 'Punch-ev']

In [11]:
l4=['First Name',
    'Last Name',
     'DOB',
     'Mobile No.',
     'City',
     'State',]
print(l4)

['First Name', 'Last Name', 'DOB', 'Mobile No.', 'City', 'State']

# FUNCTIONS

### Math Functions:

In [12]:
def addvalue(x,y):
    print('inside function')
    result= x-y
    print(f'result={result}')
    return result

addresult= addvalue(20,5)

print('final result')
print(addresult)

inside function
result=15
final result
15

In [48]:
def calculate_power(base, exponent):
    result = pow(5, 8)  
    print(f'{result}={result}')
    return result

print(result)

390625

### String Functions

In [49]:
text = "This is a String Funtions"
uppercase_text = text.upper()

print(uppercase_text)

THIS IS A STRING FUNTIONS

In [50]:
text = "This is a String Funtions"
lowercase_text = text.lower()

print(lowercase_text)

this is a string funtions

In [51]:
text = "This is a String Funtions"
string_length = len(text)

print(f"The length of the string '{text}' is: {string_length}")

The length of the string 'This is a String Funtions' is: 25

### Logical Functions:

In [81]:
data = [1,1,1] 

if all(l1):
  print("All elements in the list are True")
else:
  print("At least one element in the list is False")

All elements in the list are True

In [89]:
data = [1,1,2] 

if all(l1):
  print("All elements in the list are True")
else:
  print("At least one element in the list is False")

All elements in the list are True

### List Functions:

In [90]:
text = "Pinapple"
text_list = list(text)

print(text_list)

['P', 'i', 'n', 'a', 'p', 'p', 'l', 'e']

In [98]:

fruits = ["apple", "banana"]
fruits.append("orange")

print(fruits)

['apple', 'banana', 'orange']